<!DOCTYPE html>
<section class="hero__area hero__height hero__height-2 d-flex align-items-center blue-bg-3 p-relative fix">
    <div class="hero__shape">
       <img class="hero-1-circle" src="assets/img/shape/hero/hero-1-circle.png" alt="">
       <img class="hero-1-circle-2" src="assets/img/shape/hero/hero-1-circle-2.png" alt="">
       <img class="hero-1-dot-2" src="assets/img/shape/hero/hero-1-dot-2.png" alt="">
    </div>
    <div class="container">
       <div class="hero__content-wrapper mt-90">
          <div class="row align-items-center">
             <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                <div class="hero__content hero__content-2 p-relative z-index-1">
                   <h3 class="hero__title hero__title-2">
                        <br>On  vous
                      <span class="yellow-shape">facilite <img src="assets/img/shape/yellow-bg.png" alt="yellow-shape"> </span>
                      la vie  avec les meilleurs services ! 
                   </h3>
                  
                   <div class="hero__search">
                      <form action="#">
                         <div class="hero__search-input mb-10">
                            <input type="text" placeholder="Qu'est ce que vous cherchez ?">
                            <button type="submit"><i class="fad fa-search"></i></button>
                         </div>
                      </form>
                      <p>Vous êtes assuré de trouver quelque chose qui vous convient.</p>
                   </div>
                </div>
             </div>
             <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                <div class="hero__thumb-wrapper mb--120">
                   <div class="hero__thumb-2 scene">
                      <img class="hero-big" src="assets/img/hero/hero-2/Jobby.png" alt="">
                      <img class="hero-shape-purple" src="assets/img/hero/hero-2/hero-shape-purple.png" alt="">
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
