<!DOCTYPE html>
<header>
    <div id="header-sticky" [ngClass]="headerSticky ? 'header__area header__transparent header__padding-2 sticky' : headerShadow ? headerShadow : 'header__area header__transparent header__padding-2' "
     >
       <div class="container">
          <div class="row align-items-center">
             <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-2 col-sm-4 col-6">
                <div class="header__left d-flex">
                   <div class="logo">
                      <a [routerLink]="['/']" >
                         <img src="assets/img/logo/logospeedy.png" alt="logo">
                      </a>
                   </div>
                  
                </div>
             </div>
             <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-10 col-sm-8 col-6">
                <div class="header__right d-flex justify-content-end align-items-center">
                   <div class="main-menu main-menu-2">
                      <nav id="mobile-menu" class="d-none d-xl-block">
                         <ul>
                            <li>
                              <a [routerLink]="['/nos-services']">Nos services</a>
                           </li>
                           <li><a [routerLink]="['/sign-in']">Connexion</a></li>
                           <li><a [routerLink]="['/sign-up']">Inscription</a></li>
                         </ul>
                      </nav>
                   </div>
                   <div class="header__btn header__btn-2 ml-50 d-none d-sm-block">
                      <a [routerLink]="['/partenaire']" class="e-btn">Devenir Partenaire</a>
                   </div>
                   <div class="sidebar__menu d-xl-none">
                      <div (click)="handleSidebar()" class="sidebar-toggle-btn ml-30" id="sidebar-toggle">
                          <span class="line"></span>
                          <span class="line"></span>
                          <span class="line"></span>
                      </div>
                  </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </header>


 <!-- sidebar area start -->
<div class="sidebar__area" [class.sidebar-opened]="showSidebar">
  <div class="sidebar__wrapper">
    <div (click)="handleSidebarClose()" class="sidebar__close">
        <button class="sidebar__close-btn" id="sidebar__close-btn">
        <span><i class="fal fa-times"></i></span>
        <span>close</span>
        </button>
    </div>
    <div class="sidebar__content">
        <div class="logo mb-40">
          <a [routerLink]="['/']">
            <img src="assets/img/logo/logospeedy.png" alt="logo">
          </a>
        </div>

         <div class="side-info-content sidebar-menu mm-menu">

            <ul>
              <li>
                <a [routerLink]="['/nos-services']" class="border-0">Demander un service</a>
            </li>
            <li>
              <a [routerLink]="['/sign-in']" class="border-0">Connexion</a>
          </li>
          <li>
            <a [routerLink]="['/sign-up']" class="border-0">Inscription</a>
        </li>
              <li>
                  <a [routerLink]="['/partenaire']" class="border-0">Devenir partenaire</a>
              </li>

          </ul>
        </div>

        
    </div>
  </div>
</div>

<div (click)="handleSidebarClose()" class="body-overlay"
[class.opened]="showSidebar"></div>
<!-- sidebar area end -->
