  <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">Main</li>

                        <li>
                            <a routerLink="/dashboard" class="waves-effect">
                                <i class="ti-home"></i><span class="badge rounded-pill bg-primary float-end"></span>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/dashboard/profil" class=" waves-effect">
                                <i class="ti-calendar"></i>
                                <span>Profil</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/dashboard/bricoleurs" class=" waves-effect">
                                <i class="ti-calendar"></i>
                                <span>Bricoleurs</span>
                            </a>
                        </li>

                        <li>
                            <a routerLink="/dashboard/particuliers" class=" waves-effect">
                                <i class="ti-calendar"></i>
                                <span>Particuliers</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/dashboard/services" class=" waves-effect">
                                <i class="ti-calendar"></i>
                                <span>Services</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/dashboard/rdv" class=" waves-effect">
                                <i class="ti-calendar"></i>
                                <span>Rendez-vous</span>
                            </a>
                        </li>
                        <li>
                            <a (click)="logout()" class=" waves-effect">
                                <i class="ti-calendar"></i>
                                <span>Déconnexion</span>
                            </a>
                        </li>
                       

                       


                       

                        


                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>